// colors
$accentColor = #00AAB8
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #007980
$arrowBgColor = #ccc
$badgeTipColor = #00AAB8
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #882000
$heroColor = #00AAB8